:root {
    --top-line-background-color: #d4e8f8;
    --main-button-background-color: #578dbc;
    --icon-default-color: #fff;
    --chat-room-background-color: #dceff6;
    
    --main-font-color: #10365b;
}